body {
	background: #110000 ;
	color: #fff ;
	margin-bottom: 50px ;
	font-family: sans-serif, 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji';
}

main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

.selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
	max-width: 50% ;
}

header h1 {
	text-align: center ;
}

header h2 {
	margin-top: 0 ;
	font-style: italic ;
	padding: .5em ;
}

h1,h2,h3,h4,h5,h6 {
	text-align: left ;
}

h1 { color: chocolate ; }
h2 { color: sandybrown ; }
h3 { color: tan ; }
h4 { color: wheat ; }
h5, h6 { color: cornsilk ; }

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
    max-width: 400px ;
	margin: auto ;
    margin-top: 1em ;
    margin-bottom: 1em ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

#tagcloud {
	clear: both ;
	list-style: none ;
	text-align: center ;
	margin: 0 auto ;
	padding: 0;
	border: solid 1px ;
	border-style: dashed ;
	border-radius: 10px ;
	max-width: 50% ;
}

code {
	color: cyan ;
	overflow-wrap: break-word ;
}

blockquote {
	font-style: italic ;
	font-size: large ;
}

 /* unvisited link */
a:link {
  color: slateblue;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: purple;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: underline;
}

